%h2.text-center Editing article
=render 'shared/errors', model_obj: @article
=render 'shared/form_article', url: admin_admin_article_path
= link_to content_tag(:i,' Back', class: 'fa fa-backward fa-lg'), admin_admin_articles_path(@admin), class: 'btn btn-primary'
%br
%br