=javascript_include_tag 'previewImg'
%h2.text-center New articles
=render 'shared/errors', model_obj: @article
=render 'shared/form_article', url: admin_user_articles_path
= link_to content_tag(:i,' Back', class: 'fa fa-backward fa-lg'), admin_user_articles_path, class: 'btn btn-primary'
%br
%br
