- if model_obj.errors.any?
  #error_explanation.alert.alert-danger{:role => "alert"}
    %label
      =pluralize(model_obj.errors.count, "error")
    %ul
    - model_obj.errors.full_messages.each do |msg|
      %li= msg
