%nav.navbar.navbar-inverse{:role => "navigation"}
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => "/"} Trainig Ruby on Rails
      %button.navbar-toggle{"data-target" => ".navbar-menubuilder", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse.navbar-menubuilder
      - if admin_signed_in?
        %ul.nav.navbar-nav.navbar-left
          %li
            %a{:href => "#{admin_users_path}"} Users
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{"data-method" => "delete", :href => "#{destroy_admin_session_path}"} Sign out
      - else
        %ul.nav.navbar-nav.navbar-left
          %li
            %a{:href => "#{articles_path}"} Articles
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => "#{new_admin_session_path}"} Sign in
        