%h1.text-center Welcome
.container
	.panel
		.panel-body
			%h4 Hello!
			%p My name is Victor Hugo and this is my  basic training app on ruby on rails.
			%p Over these last three weeks I have learned several things like:
			%ul
				%li 
					Git which is a which version control system, I learned to:
					%ul
						%li Initializing Git on directory
						%li Create branch
						%li Add commit
						%li Do clone, pull, push, merge(local)
				%li Use GitHub which is a code hosting platform for version control
				%li The Ruby programming language
				%li
					Ruby on Rails
					%ul
						%li Controllers
						%li Models
						%li Views
						%li Relations
						%li Migrations
				%li Bootstrap
				%li Haml
		.panel-footer Training Instructor: Jaime Gonzalez
