%h2.text-center Editing User
=render 'shared/errors', model_obj: @admin
=render 'shared/form_user', url: admin_admin_path(@admin)
= link_to content_tag(:i,' Back', class: 'fa fa-backward fa-lg'), admin_admins_path, class: 'btn btn-primary'