%h2.text-center Editing User
=render 'shared/errors', model_obj: @user
=render 'shared/form_user', url: admin_user_path(@user)
= link_to content_tag(:i,' Back', class: 'fa fa-backward fa-lg'), admin_users_path, class: 'btn btn-primary'